<% include partials/header.ejs %>

<div class="container main">
    <h1>INDEX PAGE!</h1>
    <%blogs.forEach(function(blogs){%>
        <div> 
            <h2><%=blogs.title%></h2>
            <img src="<%=blogs.image%>" alt="<%=blogs.title%>">
            <span><%=blogs.created%></span>
            <p><%=blogs.body.substring(0, 100)%>...</p>
            <a href="/blogs/<%=blogs._id%>">Read More</a>
        </div>
    <%})%>    
</div>

<% include partials/footer.ejs %>