<h1>INDEX PAGE!</h1>

<%blogs.forEach(function(blogs){%>
    <div> 
        <h2><%=blogs.title%></h2>
        <img src="<%=blogs.image%>" alt="<%=blogs.title%>">
        <span><%=blogs.created%></span>
        <p><%=blogs.body%></p>
    </div>
<%})%>